 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
 *{
 	font-family: 'Poppins', sans-serif;
 }

h1,h2,h3,h4,h5{
	color: #63687E;
}
p{
	color: #516F8D;
}

.alink{
	text-decoration: none;
}
.bpad{
	padding:15px 40px; 
}
.img{
	width: 100%;
	/*clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);*/
}
.img22{
	width: 100%;
	clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

}

.contenedor{
	width: 80%;
}
li{
	list-style: none;
}





/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px){
	/*esconde contenido*/
  .img,.up{
    display: none;
  }
  /*centra el contenido*/
  .cnt{
  	text-align: center;
  }
  .img31,.img19{
  	width: 50%;
  }
}